<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="w3-content w3-light-gray">
<div class="w3-container w3-light-gray">
    <h4>My Timetable</h4>
</div>
<div class="w3-container w3-bar w3-dark-gray">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">My Timetable</a>
    <a href="#" class="w3-bar-item w3-button">Add Course</a>
    <a href="#" class="w3-bar-item w3-button">Add Event</a>
    <a href="#" class="w3-bar-item w3-button">Manage Timetable</a>
</div>

<div class="w3-container" style="margin-top: 10%;margin-bottom: 30%">
    <p><span class="w3-tag">Course Details</span></p>
    <ul class="w3-ul w3-card-4" style="width:50%">
        <li>Course Name: <span th:text="${courseName}"></span></li>
        <li>Date: <span th:text="${dayOfWeek}"></span></li>
        <li>Time: <span th:text="${startTime} + '-' + ${endTime}"></span></li>
        <li>Allocation: <span th:text="${courseName}"></span></li>
    </ul>
</div>

<div th:include="include :: footer"></div>
</body>
</html>